.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg path.pathone , 
.edit-post-pinned-plugins .components-icon-button.is-toggled svg path.pathone {
  fill: #455a64;
  stroke: none !important;
}
.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg path.pathtwo , 
.edit-post-pinned-plugins .components-icon-button.is-toggled svg path.pathtwo {
  fill: #fff !important;
  stroke: none !important;
}
.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg path.paththree , 
.edit-post-pinned-plugins .components-icon-button.is-toggled svg path.paththree {
  fill: #f44336 !important;
  stroke: none !important;
}



